@{
    ViewData["Title"] = "VerDetalleCandidato";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Privacy</title>
</head>
<body>
    <h1>Información sobre @ViewBag.VerInfoCandidato.Nombre  @ViewBag.VerInfoCandidato.Apellido</h1>
<img src="@ViewBag.VerInfoCandidato.Foto">

<p>Fecha de nacimiento: @ViewBag.VerInfoCandidato.FechaNacimiento.ToShortDateString()</p>
<p>ID: @ViewBag.VerInfoCandidato.IDCandidato</p>
<p>ID del partido: @ViewBag.VerInfoCandidato.IDPartido</p>
<p>Postulacion: @ViewBag.VerInfoCandidato.Postulacion</p>

 <a href='@Url.Action("VerDetallePartido")'<button>Volver al partido</button></a>

<!--
    public int IDCandidato;
    public int IDPartido;
    public string Apellido;
    public string Nombre;
    public date FechaNacimiento;
    public string Foto;
    public string Postulacion;
-->
</body>
</html>

    