@{
    ViewData["Title"] = "VerDetalleCandidato";
}

    <h1>Información sobre @ViewBag.InfoCandidato.Nombre  @ViewBag.InfoCandidato.Apellido</h1>

<img src="@ViewBag.InfoCandidato.Foto">
<p>Fecha de nacimiento: @ViewBag.InfoCandidato.FechaNacimiento.ToShortDateString()</p>
<p>ID: @ViewBag.InfoCandidato.IDCandidato</p>
<p>ID del partido: @ViewBag.InfoCandidato.IDPartido</p>
<p>Postulacion: @ViewBag.InfoCandidato.Postulacion</p>

<a href='@Url.Action("VerDetallePartido",new {IDPartido=@ViewBag.InfoCandidato.IDPartido})'><button>Volver al partido</button></a>

<!--
    public int IDCandidato;
    public int IDPartido;
    public string Apellido;
    public string Nombre;
    public date FechaNacimiento;
    public string Foto;
    public string Postulacion;
-->

    