@{
    ViewData["Title"] = "VerDetalleCandidato";
}

<h1>Información sobre @ViewBag.VerInfoCandidato.Nombre  @ViewBag.VerInfoCandidato.Apellido</h1>
<img src="@ViewBag.VerInfoCandidato.Foto">

<p>Fecha de nacimiento: @ViewBag.VerInfoCandidato.FechaNacimiento.ToShortDateString()</p>
<p>ID: @ViewBag.VerInfoCandidato.IDCandidato</p>
<p>ID del partido: @ViewBag.VerInfoCandidato.IDPartido</p>
<p>Postulacion: @ViewBag.VerInfoCandidato.Postulacion</p>

 <a href='@Url.Action("VerDetallePartido")'<button>Volver al partido</button></a>

<!--
    public int IDCandidato;
    public int IDPartido;
    public string Apellido;
    public string Nombre;
    public date FechaNacimiento;
    public string Foto;
    public string Postulacion;
-->
    