@{
    ViewData["Title"] = "VerDetallePartido";
}

<h1>Información sobre el partido @ViewBag.InfoPartido.Nombre</h1>
<img src="/Fotos/@ViewBag.InfoPartido.Logo">

<p>Fecha de fundacion: @ViewBag.InfoPartido.FechaFundacion.ToShortDateString()</p>
<p>ID: @ViewBag.InfoPartido.IDPartido</p>
<p>Sitio Web: @ViewBag.InfoPartido.SitioWeb</p>
<p>Cantidad de diputados: @ViewBag.InfoPartido.CantidadDiputados</p>
<p>Cantidad de senadores: @ViewBag.InfoPartido.CantidadSenadores</p>

<h2>Candidatos</h2>
@foreach (Candidato item in ViewBag.ListaCandidatos)
{
    <h3>
        @item.Nombre  @item.Apellido
    </h3>
    <img src="@item.Foto">
    <p>ID: @item.IDCandidato</p>
    <a href='@Url.Action("VerDetalleCandidato",new{IDCandidato=@item.IDCandidato})'></a>
}
<a href='@Url.Action("AgregarCandidato", new {IDPartido=@ViewBag.InfoPartido.IDPartido})'><button>Agregar un candidato</button></a>